{% extends 'official/base.html' %}
{% load static %}
{% block content %}

<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">User Information</h3>
                    <div class="col-auto d-flex w-sm-100">
                        <button type="button" class="btn btn-primary btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#expadd"><i class="icofont-plus-circle me-2 fs-6"></i>Add User</button>
                    </div>
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="userTable" class="table table-hover align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Designation</th>
                                    <th>Delete</th>  

                                </tr>
                            </thead>
                            <tbody>
                                {% for i in user %}
                                <tr>
                                    <td>{{i.email}}</td>
                                    <td>{{i.phone}}</td>
                                    <td>{{i.designation}}</td>
                                    <td><button id="btnDelete" type="button" class="btn btn-outline-secondary" value="{{i.id}}" onclick="deleteUser(this,'{{i.id}}')"><i class="icofont-ui-delete text-danger"></i></button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
    </div>
</div>

<div class="modal fade" id="expadd" tabindex="-1"  aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title  fw-bold" id="expaddLabel">Add User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="deadline-form">
            <form id="userForm">
                {% csrf_token %}
                <div class="row g-3 mb-3">
                    <input type="text" value="{{pk}}" name="branch" hidden>
                    <div class="col-sm-12">
                        <input type="number" id="editId" value="0" hidden>
                        <label class="form-label">Email*</label>
                        <input type="email" name="email" class="form-control">
                        <p class="error"></p>
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label">Designation*</label>
                        <input type="text" name="designation" class="form-control">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="row g-3 mb-3">
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-sm-12">
                        <label class="form-label">Phone</label>
                        <input type="tel" name="phone" class="form-control">

                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-sm-6">
                    <label class="form-label">Password</label>
                    <input type="text" name="password" id="password" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Confirm Password*</label>
                        <input type="text" name="confirm" class="form-control">
                    </div>
                </div>
               
                <div class="modal-footer">
                    <div role="alert" id="successAlert" class="alert alert-success"></div>
                    <button type="button" class="btn btn-secondary" id="btnReset">Reset</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Add</button>
                </div>
                
            </form>
        </div>
        
    </div>
  
</div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'official/js/add-user.js' %}"></script>
<script src="{% static 'official/js/helper.js' %}"></script>

{% endblock %}