{% extends 'official/base.html' %}
{% load static %}
{% block content %}
<div id="topofthePage">
<form id="bannerForm">
    {% csrf_token %}
<div class="row g-3 mb-3">
    <div class="col-xl-4 col-lg-4" >
        <input type="number" id="editId" hidden>
        <div class="sticky-lg-top" id="formDiv">
            <div class="card mb-3">
                <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                    <h6 class="m-0 fw-bold" id="productDiv1">Slider Details</h6>
                </div>
                <div class="card-body">
                    <div class="row g-3 align-items-center">
                        <div class="col-md-12">
                            <label  class="form-label">Title</label>
                            <textarea name="title" type="text" class="form-control" rows="5"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label  class="form-label">Banner Image</label>
                            <input name="image" id="image" type="file" class="form-control">
                            <p id="alertPTag"style="color: red;"></p>
                        </div>
                    </div>
                </div>
            </div>                         
        </div>
    </div>
    <div class="col-xl-8 col-lg-8">
        <div class="card mb-3">
            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                <h6 class="mb-0 fw-bold ">Basic information</h6>
            </div>
            <div class="card-body">
                    <div class="row g-3 align-items-center">
                        <div class="col-md-12">
                            <label class="form-label">Product Identifier URL</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">eg:https://cosmos.com/..</span>
                                <input name="url" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                        </div>
                        <div class="col-md-12">
                            <div id="editor">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</form>
</div>
<div class="row g-3 mb-3"> 
            <div class="col-md-12">
                <div class="card"> 
                    <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                        <h6 class="m-0 fw-bold">Banner</h6>
                    </div>
                    <div class="card-body"> 
                        <table id="bannerTable" class="table table-hover align-middle mb-0" style="width: 100%;">  
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Url</th>
                                    <th>Image</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row end  -->
{% endblock %}
{% block javascript %}
<script src="{% static 'official/js/helper.js' %}"></script>
<script src="{% static 'official/js/banner.js' %}"></script>
{% endblock %}