{% extends 'web/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="wrapper">
  <main class="main-content">
    <section class="about-area about-default-wrapper">
      <div class="container custom-container">
        <div class="about-item position-relative">
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-12">
              <div class="img-section">
                <img src="{% static 'web/assets/img/martin-magnemyr-nGt71kRwUOw-unsplash.jpg' %}" alt="">
              </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-12">
              <div class="about-content">
                <h4 class="sub-title h3-abt">About Us</h4>
                <div class="div-line"></div>
                <p class="desc-cosmos">Founded in 1990, Cosmos sports has come a long way from it's humble beginnings.
                  When we first started out, our passion for helping others to develop life skills through sports, providing the best equipment's for a healthy life style drove us to do intense research and gave us the impetus to turn hard work and inspiration into a booming brand.
                  
                  Sports help children learn lifelong skills, empower women, engage men, and remove descrimination in communities. Sports provide a platform for people to come together to build and sustain values.
                </p>
              </div>
            </div>

            

          </div>
          <div class="container custom-container">
            <div class="row">

              <div class="col-lg-7 col-sm-12 col-12  p-sm-0">
                <div class="">
                  <p class="desc-cosmos-2 py-3"> We now serve customers all over India and Middle East and are thrilled to be a part of fair-trade wing of the real industry. In wholesale and licensing, the group retains a portfolio of world-famous brands as well as our own brands. In addition to this Cosmos sports is actively planning to expand with an aim to make their sports and inclusive for all by supporting the community commitment to a healthy lifestyle.</p>
                </div>
              </div>


              <div class="col-lg-5 col-sm-12 col-12 p-sm-0">
                <div class="card  bg-white rounded cnt-img">
                  <img class="card-img-top"
                    src="{% static 'web/assets/img/about/chander-r-z4WH11FMfIQ-unsplash.jpg' %}" alt="Card image cap">
                  
                </div>
              </div>

              
              
            </div>
            

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="about-content visiion-content-box">
              <h4 class="sub-title h3-abt text-center">OUR VISSION AND VALUES</h4>
              <div class="div-line-v mx-auto"></div>
              <p class="desc-cosmos-3 "> We now serve customers all over India and Middle East and are thrilled to be a part of fair-trade wing of the real industry. In wholesale and licensing, the group retains a portfolio of world-famous brands as well as our own brands. In addition to this Cosmos sports is actively planning to expand with an aim to make their sports and inclusive for all by supporting the community commitment to a healthy lifestyle.
              </p>
              <!-- <b>A K Nishad</b>
              <p>Chairman, Cosmos Sports</p> -->
            </div>
          </div>
        </div>
        <div class="row md-5" style="margin: 10px;"></div>
        <div class="row">
          <div class="col-lg-5">
            <div class="">
              <img src="{% static 'web/assets/img/AKT.jpg' %}" alt="">
                
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-content">
             
              <p class="desc-cosmos-4">We now serve customers all over India and Middle East and are thrilled to be a 
                part of fair-trade wing of the real industry. In wholesale and licensing, the group retains a 
                portfolio of world-famous brands as well as our own brands. In addition to this Cosmos sports 
                is actively planning to expand with an aim to make their sports and inclusive for all by 
                supporting the community commitment to a healthy lifestyle.

 
              </p>
            </div>

          </div>
         

        </div>

        {% comment %}
        <div class="row">
          <div class="col-lg-6">
            <div class="about-content">
              <h4 class="sub-title h3-abt">Wholesale</h4>
              <div class="div-line"></div>
              <p class="desc">We are envisioned in establishing ourselves
                as the best dealer of branded sports products.
                It would be profitable for the retailers to buy
                from us because they can avail the benefit of
                bulk purchases. We are the distributors of many
                prestigious brands and are aiming to be the
                largest distributor of sports goods and products.
              </p>
            </div>
            <div class="about-content">
              <h4 class="sub-title h3-abt">Sports Infrastructure
                Development</h4>
              <div class="div-line"></div>
              <p class="desc">Cosmos Sports has state-of-the-art technology
                and renowned experts to produce the best of
                the sports infrastructure, specialising in
                synthetic sports surfaces, running tracks and
                indoor sports wooden courts. We are also
                specialised in building stadiums.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-content">
              <h4 class="sub-title h3-abt">Cosmos Sports City
                Sharjah </h4>
              <div class="div-line"></div>
              <p class="desc">The Cosmos Sports City in Al Sharjah has been designed
                with the mission of creating a challenging sport academic
                environment while incorporating a modern athletic
                programme that can be enjoyed by all. The sports club in
                Cosmos Sports City caters a diverse range of sports training
                and coaching by highly experienced and international level
                coaches. Its various sports courts with world-class facilities
                include - Cricket, Volleyball, MMA/Kick Boxing Ring, Table
                Tennis, Wall Climbing, Basket Ball, Badminton, Football,
                Skating, Paddle Court, Male & Female Gym, Swimming Pool,
                Gymnastic, and Table Tennis. The Cosmos Sports City,
                Al Sharjah also features Ayurveda & Holistic Spa, Health
                Bar, Retail Store and Exhibition Hall which makes it a one-stop
                shop for all sports-related requirements.
              </p>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="about-content">
              <h4 class="sub-title h3-abt">Cosmos Sports City
                Al Karama</h4>
              <div class="div-line"></div>
              <p class="desc">With top-class facilities and guidance from expert coaches, Cosmos
                Badminton Academy at Al Karama, Dubai, oers the best badminton
                training to individuals of any age and gender. The academy is looking
                forward to hosting various camps and activities in the future.
              </p>
            </div>
          </div>

        </div>
        {% endcomment %}
      </div>
</div>
</section>

</main>

<section class="product-area product-best-seller-area py-3">
  <div class="container carusel">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h3 class="title">Our Brands</h3>
          <div class="desc">
            <p>There are many variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="product-slider-wrap">
          <div class="swiper-container product-slider-col4-container">
            <div class="swiper-wrapper">
              {% for i in brand %}
              <div class="swiper-slide">
                <!--== Start Product Item ==-->
                <div class="product-item">
                  <div class="inner-content">
                    <div class="product-thumb">
                      <img src="{{i.image.crop.259x262}}" width="270" height="274" alt="Image-HasTech">
                    </div>
                  </div>
                </div>
                <!--== End prPduct Item ==-->
              </div>
              {% endfor %}





            </div>
          </div>
          <!--== Add Swiper Arrows ==-->
          <div class="product-swiper-btn-wrap">
            <div class="product-swiper-btn-prev">
              <i class="fa fa-arrow-left"></i>
            </div>
            <div class="product-swiper-btn-next">
              <i class="fa fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--== Scroll Top Button ==-->
<div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

</div>

<!--=======================Javascript============================-->

{% endblock %}
{% block Javascript %}

{% endblock %}