{% extends 'web/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="wrapper">
  <main class="main-content">

    <div class="container">



      <div class="row d-flex justify-content-center pb-4">
        <div class="text-center py-3">
          <h3>India Branches</h3>
        </div>
        <div class="col-lg-3 col-sm-12 col-12 mt-4">
          <div class="card bx-shad">
            <img src="../../static/web/assets/img/branch images/Calicut.jpg" alt="">
            <div class="card-body para-ht">
              <h6>CALICUT</h6>
              <p class="location-desc">
                A. K. Tower, Mini Bypass Rd, near Comtrust Eye Hospital, Puthiyara, Kozhikode, Kerala, India 673004
                +91 7736574447 & +91 9526036663 <br>
                salesclt2@cosmossports.in</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-12 mt-4">
          <div class="card bx-shad">
            <img src="../../static/web/assets/img/branch images/Kannur.jpg" alt="">
            <div class="card-body para-ht">

              <h6>KANNUR</h6>
              <p class="location-desc">
                KVM Plaza, Near New Bus Stand, Thavakkara, Kannur, Kerala, India 670001
                +91 7025474447 & +91 9526657447 <br> salesknr@cosmossports.in</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-12 mt-4">
          <div class="card bx-shad">
            <img src="../../static/web/assets/img/branch images/Kochi.jpg" alt="">
            <div class="card-body para-ht">

              <h6>COCHIN</h6>
              <p class="location-desc">
                Vankarath Tower, NH Bypass Jn., Padivattom, Edapally P. O., Kochi, Kerala, India 682024

                0484-2341420 & +91 9072674447 <br>

                saleskochi@cosmossports.in</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-12 mt-4">
          <div class="card bx-shad">
            <img src="../../static/web/assets/img/branch images/Manjeri.jpg" alt="">
            <div class="card-body para-ht">

              <h6>MANJERI</h6>
              <p class="location-desc">
                KM Tower, Thurakkal Bypass Jn., Manjeri, Kerala, India 676121
                0483-2762180 & +91 7560974447 <br>
                salesmjr@cosmossports.in</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-12 col-12 mt-4">
          <div class="card bx-shad">
            <img src="../../static/web/assets/img/branch images/Thrissur.jpg" alt="">
            <div class="card-body para-ht">

              <h6>THRISSUR</h6>
              <p class="location-desc">
                Chicago Tower, Near Malayala Manorama, Thrissur, Kerala, India 680001

                0487-2444221 & +91 9562223180 <br>

                salesthr@cosmossports.in</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-12 mt-4">
          <div class="card bx-shad">
            <img src="../../static/web/assets/img/branch images/Trivandrum.jpg" alt="">
            <div class="card-body para-ht">

              <h6>TRIVANDRUM </h6>
              <p class="location-desc">
                Alfa Centre, Eanachakkal-Chakkai Bypass, Pettah P. O., Thiruvananthapuram, Kerala, India 695024

                0471-2572066 & +91 8156874447 <br>

                salestvm@cosmossports.in</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-12 col-12 mt-4">
          <div class="card bx-shad">
            <img src="../../static/web/assets/img/branch images/calicut-2.jpg" alt="">
            <div class="card-body para-ht">

              <h6>CALICUT-EXPRESS STORE </h6>
              <p class="location-desc">
                Sona Complex, Stadium Jn., Ram Mohan Road, Kozhikode, Kerala, India 673004

                0495-2723180 & +91 7025974447

                salesclt1@cosmossports.in</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-12 mt-4">
          <div class="card bx-shad">
            <img src="../../static/web/assets/img/branch images/Mahe.jpg" alt="">
            <div class="card-body para-ht">

              <h6>MAHE </h6>
              <p class="location-desc">
                Balaram Arcade, Main Road, Near Civil station, Mahe -673310, Puducherry, India
                Ph : +91 7034384447
                adminmahe@cosmossports.in</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-12 mt-4">
          <div class="card bx-shad">
            <img src="../../static/web/assets/img/branch images/coming.jpg" alt="">
            <div class="card-body para-ht">

              <h6>KOLLAM </h6>
              <p class="location-desc">
                Vadakkevila Village, Opp. Govt VHSE, Thattamala (PO), Kollam - 691020, Kerala, India.
                Ph : +91 7034334447
                adminkollam@cosmossports.in</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-12 col-12 mt-4">
          <div class="card bx-shad">
            <img src="../../static/web/assets/img/branch images/coming.jpg" alt="">
            <div class="card-body para-ht">

              <h6>PALAKKAD </h6>
              <p class="location-desc">
                Calicut Bypass Road, Sekharipuram, Palakkad-678010, Kerala, India.
                Ph : +91 7034464447
                adminpkd@cosmossports.in</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center py-3">
        <div class="text-center">
          <h3>UAE Branches</h3>
        </div>
        <div class="col-lg-3 col-sm-12 col-12">
          <div class="card bx-shad">
            <img src="../../static/web/assets/img/branch images/Al Karama.jpg" alt="">
            <div class="card-body para-ht">
              <h5>COSMOS SPORTS</h5>
              <h6>KARAMA</h6>
              <p class="location-desc">
                34 Za'abeel St – Dubai, United Arab Emirates.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-12">
          <div class="card bx-shad">
            <img src="{% static 'web/assets/img/branch images/LLC Madina Mall.jpg' %}" alt="">
            <div class="card-body para-ht">
              <h5>COSMOS SPORTS</h5>
              <h6>MADINA MALL</h6>
              <p class="location-desc"> Madina Mall Al Ghusais – Dubai, United Arab Emirates.</p>
            </div>
          </div>
        </div>

      </div>



      {% comment %}
      <div class="row">
        <div class="col-12">
          <div class="product-slider-wrap">
            <div class="swiper-container product-slider-col4-container">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <!--== Start Product Item ==-->
                  <div class="product-item">
                    <div class="inner-content">
                      <div class="product-thumb">
                        <a href="#">
                          <img src="{% static 'web/assets/img/AKT.jpg' %}" width="270" height="274" alt="Image-HasTech">
                        </a>
                      </div>
                      <div class="product-info">
                        <h4 class="title"><a a href="#">COSMOS SPORTS CALICUT</a>
                        </h4>
                      </div>
                    </div>
                  </div>

                  <!--== End prPduct Item ==-->
                </div>
                <div class="swiper-slide">
                  <!--== Start Product Item ==-->
                  <div class="product-item">
                    <div class="inner-content">
                      <div class="product-thumb">
                        <a href="#">
                          <img src="{% static 'web/assets/img/Cosmos.jpg' %}" width="270" height="274"
                            alt="Image-HasTech">
                        </a>
                      </div>
                      <div class="product-info">
                        <h4 class="title"><a a href="#">COSMOS SPORTS AL KARAMA</a>
                        </h4>
                      </div>
                    </div>
                  </div>

                  <!--== End prPduct Item ==-->
                </div>
                <div class="swiper-slide">
                  <!--== Start Product Item ==-->
                  <div class="product-item">
                    <div class="inner-content">
                      <div class="product-thumb">
                        <a href="#">
                          <img src="{% static 'web/assets/img/EKM.jpg' %}" width="270" height="274" alt="Image-HasTech">
                        </a>
                      </div>
                      <div class="product-info">
                        <h4 class="title"><a a href="#">COSMOS SPORTS KOCHI</a>
                        </h4>
                      </div>
                    </div>
                  </div>

                  <!--== End prPduct Item ==-->
                </div>
                <div class="swiper-slide">
                  <!--== Start Product Item ==-->
                  <div class="product-item">
                    <div class="inner-content">
                      <div class="product-thumb">
                        <a href="#">
                          <img src="{% static 'web/assets/img/KNR (7).jpg' %}" width="270" height="274"
                            alt="Image-HasTech">
                        </a>
                      </div>
                      <div class="product-info">
                        <h4 class="title"><a a href="#">COSMOS SPORTS KANNUR</a>
                        </h4>
                      </div>
                    </div>
                  </div>

                  <!--== End prPduct Item ==-->
                </div>
                <div class="swiper-slide">
                  <!--== Start Product Item ==-->
                  <div class="product-item">
                    <div class="inner-content">
                      <div class="product-thumb">
                        <a href="#">
                          <img src="{% static 'web/assets/img/THR.jpg' %}" width="270" height="274" alt="Image-HasTech">
                        </a>
                      </div>
                      <div class="product-info">
                        <h4 class="title"><a a href="#">COSMOS SPORTS THRISSUR</a>
                        </h4>
                      </div>
                    </div>
                  </div>

                  <!--== End prPduct Item ==-->
                </div>
              </div>
            </div>
            <!--== Add Swiper Arrows ==-->
            <div class="product-swiper-btn-wrap">
              <div class="product-swiper-btn-prev">
                <i class="fa fa-arrow-left"></i>
              </div>
              <div class="product-swiper-btn-next">
                <i class="fa fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-lg-4">
          <div class="card p-3 mb-5 bg-white rounded cnt-img" style="height: 218px;" >
            <img class="card-img-top branch-image" src="{% static 'web/assets/img/Cosmos.jpg' %}" alt="Card image cap">
            <div class="card-body para-ht">
              <h5 class="card-title cnt-img">COSMOS SPORTS AL KARAMA</h5>
             
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card p-3 mb-5 bg-white rounded cnt-img" style="height: 218px;" >
            <img class="card-img-top branch-image" src="{% static 'web/assets/img/AKT.jpg' %}" alt="Card image cap">
            <div class="card-body para-ht">
              <h5 class="card-title cnt-img">COSMOS SPORTS CALICUT</h5>
             
            </div>
          </div>
        </div>
        
        <div class="col-lg-4">
          <div class="card p-3 mb-5 bg-white rounded cnt-img" style="height: 218px;" >
            <img class="card-img-top branch-image" src="{% static 'web/assets/img/EKM.jpg' %}" alt="Card image cap">
            <div class="card-body para-ht">
              <h5 class="card-title cnt-img">COSMOS SPORTS KOCHI</h5>
             
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="row">
        <div class="col-lg-4">
          <div class="card p-3 mb-5 bg-white rounded cnt-img" style="height: 218px;" >
            <img class="card-img-top branch-image" src="{% static 'web/assets/img/KNR (7).jpg' %}" alt="Card image cap">
            <div class="card-body para-ht">
              <h5 class="card-title cnt-img">COSMOS SPORTS KANNUR</h5>
             
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card p-3 mb-5 bg-white rounded cnt-img" style="height: 218px;" >
            <img class="card-img-top branch-image" src="{% static 'web/assets/img/THR.jpg' %}" alt="Card image cap">
            <div class="card-body para-ht">
              <h5 class="card-title cnt-img">COSMOS SPORTS THRISSUR</h5>
            </div>
          </div>
        </div>
      </div> -->
    </div>


    <section>
      <div class="container cnt-branch">
        <div class="row">
          <div class="col-lg-6">
            <h3>INDIA</h3>
            <p class="cnt-p">COSMOS SPORTS CALICUT</p>
            <p>AK Tower, Mini Bypass,
              Near Comtrust Eye Hospital,
              Puthiyara, Kozhikode-673004, Kerala, India
              Ph: +91 77360 63180,<br>
              Email: salesclt2@cosmossports.in</p>
          </div>
          <div class="col-lg-6">
            <h3>UAE</h3>
            <p class="cnt-p">COSMOS SPORTS AL KARAMA</p>
            <p>34 Za'abeel St., Al Karama,
              Dubai, United Arab Emirates
              <br>Ph: +971 4 884 4808
              <br>Email: Cskarama@cosmossportsglobal.com
          </div>
        </div>
        <div class="row m-1"></div>
        <div class="row">
          <div class="col-lg-6 ">
            <p class="cnt-p">COSMOS SPORTS CALICUT</p>
            <p>Express Store: Sona Complex,
              Ram Mohan Road, Calicut-673004, Kerala, India<br>
              Ph: +91 495 272 3180, Email: salesclt1@cosmossports.in </p>
          </div>
          <div class="col-lg-6">
            <p class="cnt-p">COSMOS SPORTS LLC MADINA MALL</p>
            <p>Al Qusais, Beirut St.,
              Dubai, United Arab Emirates
              <br>Ph: +971 4 263 0662
              <br>Email: Csmm1@cosmossportsglobal.com
            </p>
          </div>
        </div>
        <div class="row m-1"></div>
        <div class="row">
          <div class="col-lg-6 ">
            <p class="cnt-p">COSMOS SPORTS KOCHI</p>
            <p>Vankarath Tower, NH Bypass JN Padivattom,
              Edapally (P.O.),<br> Kochi-682024, Kerala, India
              Ph: +91 484 234 1418, 19, 20, 21,<br>
              Email: saleskochi@cosmossports.in </p>
          </div>
          <div class="col-lg-6">
            <div class="row m-1"></div>
            <div class="row m-1"></div>
          </div>
        </div>
        <div class="row m-1"></div>
        <div class="row">
          <div class="col-lg-6 ">
            <p class="cnt-p">COSMOS SPORTSTRIVANDRUM</p>
            <p>Alfa Centre, Eanachakkal, Chakkai Bypass,
              Pettah (P.O.),<br> Trivandrum - 6965024, Kerala, India
              <br>Ph: +91 471 257 2066, +91 471 257 2011,
              <br>Email: salestvm@cosmossports.in
            </p>
          </div>
          <div class="col-lg-6">
            <h3>SPORTS ACADEMY</h3>
            <p class="cnt-p">SPORTS CITY CALICUT</p>
            <p>3Florican Hill Rd, Civil Station,
              Malaparamba, Kozhikode, Kerala 673020
              <br>Ph: +91 495-2375884 +91 98959 89744
              <br>Email: sportscity@cosmossports.in,
              web: cosmossportscity.in
            </p>
          </div>
        </div>
        <div class="row m-1"></div>
        <div class="row">
          <div class="col-lg-6 ">
            <p class="cnt-p">COSMOS SPORTS THRISSUR</p>
            <p>Chicago Tower, Near Malayala Manorama,
              <br>Thrissur-680001, Kerala, India Ph: +91 487 244 4224,
              <br>Email: salesthr@cosmossports.in
            </p>
            <div class="col-lg-12">
              <p class="cnt-p">COSMOS SPORTS MANJERI</p>
              <p>KM Tower, Thurakkal Bypass JN,
                Manjeri-676121, Kerala, India
                <br>Ph: +91 483 276 2180, +91 483 276 2181
                <br>Email: salesmjr@cosmossports.in

            </div>
            <div class="row m-1"></div>
            <div class="col-lg-12">
              <p class="cnt-p">COSMOS SPORTS KANNUR</p>
              <p>KVM Plaza, Near New Bus Stand,
                <br>Thavakkara, Kannur-670001, Kerala, India
                <br>Ph: +919526574447, Email: alesknr@cosmossports.in
            </div>
          </div>
          <div class="col-lg-6">
            <p class="cnt-p">COSMOS SPORTS CITY</p>
            <p>5 St 45 - Industrial Area 1,
              Sharjah,United Arab Emirates.
              <br>Ph: +971 4 884 4808
              <br>Email: info@cosmossportscity.com
              <br>www.cosmossportscity.com
            </p>

            <div class="col-lg-12">
              <p class="cnt-p">COSMOS BADMINTON ACADEMY</p>
              <p>
                Oposite,Central Post Office
                <br>Behind Cosmos Sports - 34 Zaa'beel St,
                Al Karama, Dubai, United Arab Emirates
                <br>Ph: +971 52 565 0700, +971 4 345 8811
                <br>Email: info@cosmosbadmintonacademy.com
                <br>www.cosmosbadmintonacademy.com
              </p>
            </div>
          </div>
        </div>
        <div class="row m-1"></div>
        <div class="row">
          <div class="col-lg-6 ">

          </div>
          <div class="col-lg-6">

          </div>
        </div>
        <div class="row m-1"></div>
        <div class="row">
          <div class="col-lg-6 ">

          </div>
          <div class="col-lg-6">

          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="offset-6 col-lg-6" style="position: relative;">
            <div class="div-img-branch" style="position: absolute;">
              <h4 class="h4-branch">HEAD OFFICE INDIA</h4>
              <p><b>COSMOS SPORTS CALICUT</b></p>
              <p>AK Tower, Mini Bypass, Near Comtrust Eye Hospital
                <br>Puthiyara, Kozhikode-673004, Kerala, India
                <br>Ph: +91 755 807 4447
              </p>
              <br>
              <h4 class="h4-branch">HEAD OFFICE UAE</h4>
              <p><b>COSMOS SPORTS LLC 34 Za'abeel St</b></p>
              Opposite Central Post Office
              <br>Al Karama, Dubai, United Arab Emirates
              <br>Ph: +971 4 884 4808

            </div>
          </div>
        </div>

        <img src="{% static 'web/assets/img/Company_Profile_Cosmos_Sports_IbbTW60-11 (1).jpg' %}"
          style="position: relative;">
      </div>

      <div>
      </div>
    </section>
    {% endcomment %}

  </main>
  <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

</div>

{% endblock %}
{% block Javascript %}

{% endblock %}