{% load static %}

<div id="ebazar-layout" class="theme-blue">

    <!-- sidebar -->
    <div class="sidebar px-4 py-4 py-md-4 me-0">
        <div class="d-flex flex-column h-100">
            <a href="/branch/dashboard/" class="mb-0 brand-icon">
                <span class="logo-icon">
                   
                </span>
                <span class="logo-text"> <img class="logo-main" src="{% static 'web/assets/img/Cosmos_LOGO.svg' %}" width="105" height="34" alt="Logo" /></span>
            </a>
            <!-- Menu: main ul -->
            <ul class="menu-list flex-grow-1 mt-3">
                <li><a class="m-link active" href="/branch/dashboard/"><i class="icofont-home fs-5"></i> <span>Dashboard</span></a></li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#customers-info" href="#">
                        <i class="icofont-funky-man fs-5"></i> <span>Technicians</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="customers-info">
                        <li><a class="ms-link" href="/branch/technicians/">All</a></li>
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#page1" href="#">
                        <i class="icofont-card"></i><span>Modules</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="page1">
                        <li><a class="ms-link" href="/branch/brands/">Brands</a></li>
                        <li><a class="ms-link" href="/branch/wheelsize/">WheelSizes</a></li>
                        <li><a class="ms-link" href="/branch/accessories/">Accessories</a></li>
                        <li><a class="ms-link" href="/branch/complaints/">Complaints</a></li>
                        <li><a class="ms-link" href="/branch/machine-type/">Machine Type</a></li>
                        <li><a class="ms-link" href="/branch/model-no/">Model No</a></li>
                        <li><a class="ms-link" href="/branch/model-name/">Model Name</a></li>

                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#page" href="#">
                        <i class="icofont-page fs-5"></i> <span>Job Card</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="page">
                        <li><a class="ms-link" href="/branch/create-service-requests/">Create</a></li>
                        <li><a class="ms-link" href="/branch/service-request/">New</a></li>
                        <li><a class="ms-link" href="/branch/jobs/">Jobs</a></li>
                        <li><a class="ms-link" href="/branch/completed/">Completed</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Menu: menu collepce btn -->
            <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                    <span class="ms-2"><i class="icofont-bubble-right"></i></span>
                </button>
        </div>
    </div>

    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">

        <!-- Body: Header -->
        <div class="header">
            <nav class="navbar py-4">
                <div class="container-xxl">

                    <!-- header rightbar icon -->
                    <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                        <div class="d-flex">
                            <a class="nav-link text-primary collapsed" href="#" title="Get Help">
                            </a>
                        </div>


                        <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                            <div class="u-info me-2">
                                <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold" id="userName"></span></p>
                                <small id="branchName"></small>
                            </div>
                            <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                <img id="logoImage" class="avatar lg rounded-circle img-thumbnail" src="{% static 'web/assets/img/Cosmos_LOGO.svg' %}" alt="profile">
                            </a>
                            <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                <div class="card border-0 w280">
                                    <div class="card-body pb-0">
                                        <div class="d-flex py-1">
                                            <div class="flex-fill ms-3">
                                                <p class="mb-0"><span class="font-weight-bold" id="userName"></span></p>
                                                <small class="" id="userEmail"></small>
                                            </div>
                                        </div>

                                        <div>
                                            <hr class="dropdown-divider border-dark">
                                        </div>
                                    </div>
                                    <div class="list-group m-2 ">
                                        <a id="logout" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-5 me-3"></i>Signout</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- menu toggler -->
                    <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                            <span class="fa fa-bars"></span>
                        </button>

                    <!-- main menu Search-->
                    <div id="searchDiv" class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 ">
                        <div class="input-group flex-nowrap input-group-lg">
                            <input type="search" class="form-control" placeholder="Search" aria-label="search" aria-describedby="addon-wrapping">
                        </div>
                    </div>

                </div>
            </nav>
        </div>

        <!-- Body: Body -->
        {% include 'official/index.html' %}

        <!-- Modal Custom Settings-->