{% extends 'branch/base.html' %}
{% load static %}
{% block content %}

<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">Complaints</h3>
                    <div class="col-auto d-flex w-sm-100">
                        <button type="button" class="btn btn-primary btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#expadd"><i class="icofont-plus-circle me-2 fs-6"></i>Add Complaints</button>
                    </div>
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="complaintsTable" class="table table-hover align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Complaints</th>
                                    <th>Category</th>
                                    <th>Edit</th>
                                    <th>Delete</th> 

                                </tr>
                            </thead>
                            <tbody>
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
    </div>
</div>

<div class="modal fade" id="expadd" tabindex="-1"  aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title  fw-bold" id="expaddLabel">Add Complaints</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="line-form">
            <form id="complaintsForm">
                {% csrf_token %}
                <div class="row g-3 mb-3">
                    <div class="col-sm-12">
                        <input type="number" id="editId" value="0" hidden>
                        <label class="form-label">Complaints*</label>
                        <textarea name="complaint" class="form-control">
                            </textarea>
                        <p class="error"></p>
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-sm-12">
                        <label class="form-label">Category*</label>
                        <select name="category" class="form-control">
                            <option value="cycle">Cycle</option>
                            <option value="fitness">Fitness</option>
                        </select>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Add</button>
                </div>
                
            </form>
        </div>
        
    </div>
</div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'branch/js/complaints.js' %}"></script>
<script src="{% static 'branch/js/helper.js' %}"></script>

{% endblock %}