{% extends 'branch/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
               
                <div class="table-responsive m-t-40">
                    <table id="serviceRequestTable" class="table table-striped border">
                        <thead>
                            <tr>
                                <th>#Id</th>
                                <th>Date</th>
                                <th>Category</th>
                                <th>Service_type</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Job card</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- table responsive -->
    
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="{% static 'datatable/datatables.net-bs4/css/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'datatable/datatables.net-bs4/css/responsive.dataTables.min.css' %}">
<script src="{% static 'datatable/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatable/datatables.net-bs4/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'branch/js/service-request.js' %}"></script>

<script>
    $(function() {
        $('#serviceRequestTable').DataTable();
      
     
    });
</script>

{% endblock %}